<h1 id="tableLabel">Image Converter client</h1>

<p style="text-align:left">Server Time: {{ sum.currentDate | date:'yyyy-MM-dd HH:mm:ss' }}</p>

<p *ngIf="!sum"><em>Loading... </em></p>

<button class="start-button" [disabled]="isImageConverterJobRunning" (click)="start()">
  <i class="fa fa-start"></i> Start
</button>

<button class="stop-button" [disabled]="!isImageConverterJobRunning" (click)="stop()">
  <i class="fa fa-stop"></i> Stop
</button>

<table *ngIf="sum">
  <tr>
    <td>State</td>
    <td>Last Started</td>
    <td>Last Finished</td>
    <td>Next Start</td>
  </tr>
  <tr>
    <td>{{ sum.state }}</td>
    <td>{{ sum.lastStartDate | date:'yyyy-MM-dd HH:mm:ss' }}</td>
    <td>{{ sum.lastFinishDate | date:'yyyy-MM-dd HH:mm:ss' }}</td>
    <td *ngIf="isNextFirePresent">{{ sum.nextFireDate | date:'yyyy-MM-dd HH:mm:ss' }}</td>
    <td *ngIf="!isNextFirePresent">not set</td>
  </tr>
</table>

<table *ngIf="sum">
  <tr>
    <td>Processed bytes</td>
    <td>Saved bytes</td>
    <td>Converted image count</td>
  </tr>
  <tr>
    <td>{{ sum.processedBytes | filesize }}</td>
    <td>{{ sum.sumSavedBytes | filesize }}</td>
    <td>{{ sum.convertedImageCount }}</td>
 </tr>
</table>

<table *ngIf="sum">
  <tr>
    <td>Deleted file count</td>
    <td>Ignored file count</td>
    <td>Error count</td>
  </tr>
  <tr>
    <td>{{ sum.deletedFileCount }}</td>
    <td>{{ sum.ignoredFileCount }}</td>
    <td>{{ sum.errorCount }}</td>
  </tr>
</table>

<mat-tab-group animationDuration="0ms">
  <mat-tab label="Logs">
    <div class="log-entries">
      <div *ngFor="let log of logMessages" class="log-entry">
        <p style="text-align:left">{{ log.timeStamp }} - {{ log.type }} - {{ log.message }}</p>
        <hr>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Reports">Reports</mat-tab>
</mat-tab-group>

