<h1 id="tableLabel">Image Converter Client v0.2</h1>

<p style="text-align:left">Server Time: {{ settings.serverTime | date:'medium' }} - Thread count: {{ settings.threadCount }} - Memory usage: {{ settings.memoryUsage | filesize }}</p>

<p *ngIf="!sum"><em>Loading... </em></p>

<button class="start-button fa fa-start" [disabled]="isImageConverterJobRunning" (click)="start()">
  Start
</button>

<button class="stop-button fa fa-stop" [disabled]="!isImageConverterJobRunning" (click)="stop()">
  Stop
</button>

<button class="clearqueue-button fa fa-cq" (click)="clearqueue()">
  Clear Queue
</button>

<p class="header">All jobs</p>
<table *ngIf="sum">
  <tr>
    <th>Last Started</th>
    <th>Last Finished</th>
    <th>Next Start</th>
  </tr>
  <tr>
    <td>{{ sum.lastStartDate | date:'medium' }}</td>
    <td>{{ sum.lastFinishDate | date:'medium' }}</td>
    <td *ngIf="isNextFirePresent">{{ sum.nextFireDate | date:'medium' }}</td>
    <td *ngIf="!isNextFirePresent">not set</td>
  </tr>
</table>
<table *ngIf="sum">
  <tr>
    <th>Jobs</th>
    <th>Processed</th>
    <th>Saved</th>
    <th>Converted image count</th>
    <th>D/I/E</th>
  </tr>
  <tr>
    <td>{{ sum.jobCount }}</td>
    <td>{{ sum.inputBytes | filesize }}</td>
    <td>{{ sum.inputBytes - sum.outputBytes | filesize }}</td>
    <td>{{ sum.convertedImageCount }}</td>
    <td>{{ sum.deletedFileCount }}/{{ sum.ignoredFileCount }}/{{ sum.errorCount }}</td>
  </tr>
</table>

<br />
<p class="header">Current job</p>
<table *ngIf="jobSum">
  <tr>
    <th>State</th>
    <th>Execution state</th>
    <th>Processed</th>
    <th>Saved</th>
    <th>Queue length</th>
    <th>Converted image count</th>
    <th>D/I/E</th>
  </tr>
  <tr>
    <td>{{ jobSum.state }}</td>
    <td>{{ this.getExecutionState(settings.executionState) }}</td>
    <td>{{ jobSum.inputBytes | filesize }}</td>
    <td>{{ jobSum.inputBytes - jobSum.outputBytes | filesize }}</td>
    <td>{{ settings.queueLength }}</td>
    <td>{{ jobSum.convertedImageCount }}</td>
    <td>{{ jobSum.deletedFileCount }}/{{ jobSum.ignoredFileCount }}/{{ jobSum.errorCount }}</td>
  </tr>
</table>

<mat-tab-group animationDuration="0ms" (selectedTabChange)="tabChanged($event)">
  <mat-tab label="Queue">
    <div class="queue" *ngIf="this.isInCompressingState()">
      <div *ngFor="let processingQueueItem of processingQueueItems" class="queueItem">
        <p style="text-align:left">{{ processingQueueItem.queueItem.fullPath }} - {{ this.getQueueState(processingQueueItem.state) }}, Q: {{ processingQueueItem.quality }}, I: {{ processingQueueItem.inputFileSize | filesize }}, O: {{ processingQueueItem.outputFileSize | filesize }}</p>
        <hr>
      </div>
    </div>
    <div class="queue" *ngIf="this.isInCollectingState()">
      <div *ngFor="let processingPath of processingPaths" class="queueItem">
        <p style="text-align:left">Collecting from {{ processingPath }}</p>
        <hr>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Job reports">
    <table style="margin-left:0px">
      <tr>
        <th>Job started</th>
        <th>Job finished</th>
        <th>State</th>
        <th>Processed bytes</th>
        <th>Saved bytes</th>
        <th>Converted image count</th>
        <th>D/I/E</th>
      </tr>
      <tr *ngFor="let jobSum of jobSummaries" class="log-entry">
        <td>{{ jobSum.jobStarted | date:'medium' }}</td>
        <td>{{ jobSum.jobFinished | date:'medium' }}</td>
        <td>{{ jobSum.state }}</td>
        <td>{{ jobSum.inputBytes | filesize }}</td>
        <td>{{ jobSum.inputBytes - jobSum.outputBytes | filesize }}</td>
        <td>{{ jobSum.convertedImageCount }}</td>
        <td>{{ jobSum.deletedFileCount }}/{{ jobSum.ignoredFileCount }}/{{ jobSum.errorCount }}</td>
      </tr>
    </table>
  </mat-tab>
  <mat-tab label="Logs">
    <div class="log-entries">
      <div *ngFor="let log of logMessages" class="log-entry">
        <p style="text-align:left">{{ log.timeStamp }} - {{ log.type }} - {{ log.message }}</p>
        <hr>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

