<h1 id="tableLabel">Image Converter client</h1>

<p style="text-align:left">Server Time: {{ settings.serverTime | date:'medium' }} - Thread count: {{ settings.threadCount }}</p>

<p *ngIf="!sum"><em>Loading... </em></p>

<button class="start-button" [disabled]="isImageConverterJobRunning" (click)="start()">
  <i class="fa fa-start"></i> Start
</button>

<button class="stop-button" [disabled]="!isImageConverterJobRunning" (click)="stop()">
  <i class="fa fa-stop"></i> Stop
</button>

<p class="header">All jobs</p>
<table *ngIf="sum">
  <tr>
    <th>State</th>
    <th>Last Started</th>
    <th>Last Finished</th>
    <th>Next Start</th>
  </tr>
  <tr>
    <td>{{ sum.state }}</td>
    <td>{{ sum.lastStartDate | date:'medium' }}</td>
    <td>{{ sum.lastFinishDate | date:'medium' }}</td>
    <td *ngIf="isNextFirePresent">{{ sum.nextFireDate | date:'medium' }}</td>
    <td *ngIf="!isNextFirePresent">not set</td>
  </tr>
</table>
<table *ngIf="sum">
  <tr>
    <th>Jobs</th>
    <th>Processed</th>
    <th>Saved</th>
    <th>Converted image count</th>
    <th>D/I/E</th>
  </tr>
  <tr>
    <td>{{ sum.jobCount }}</td>
    <td>{{ sum.inputBytes | filesize }}</td>
    <td>{{ sum.inputBytes - sum.outputBytes | filesize }}</td>
    <td>{{ sum.convertedImageCount }}</td>
    <td>{{ sum.deletedFileCount }}/{{ sum.ignoredFileCount }}/{{ sum.errorCount }}</td>
  </tr>
</table>

<br />
<p class="header">Current job</p>
<table *ngIf="jobSum">
  <tr>
    <th>State</th>
    <th>Processed</th>
    <th>Saved</th>
    <th>Queue length</th>
    <th>Converted image count</th>
    <th>D/I/E</th>
  </tr>
  <tr>
    <td>{{ jobSum.state }}</td>
    <td>{{ jobSum.inputBytes | filesize }}</td>
    <td>{{ jobSum.inputBytes - jobSum.outputBytes | filesize }}</td>
    <td>{{ settings.queueLength }}</td>
    <td>{{ jobSum.convertedImageCount }}</td>
    <td>{{ jobSum.deletedFileCount }}/{{ jobSum.ignoredFileCount }}/{{ jobSum.errorCount }}</td>
  </tr>
</table>

<mat-tab-group animationDuration="0ms">
  <mat-tab label="Queue">
    <div class="queue">
      <div *ngFor="let queueItem of processingQueueItems" class="queueItem">
        <p style="text-align:left">{{ queueItem.fullPath }}</p>
        <hr>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Logs">
    <div class="log-entries">
      <div *ngFor="let log of logMessages" class="log-entry">
        <p style="text-align:left">{{ log.timeStamp }} - {{ log.type }} - {{ log.message }}</p>
        <hr>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Job reports">
    <table style="margin-left:0px">
      <tr>
        <th>Job started</th>
        <th>Job finished</th>
        <th>State</th>
        <th>Processed bytes</th>
        <th>Saved bytes</th>
        <th>Converted image count</th>
        <th>D/I/E</th>
      </tr>
      <tr *ngFor="let jobSum of jobSummaries" class="log-entry">
        <td>{{ jobSum.jobStarted | date:'medium' }}</td>
        <td>{{ jobSum.jobFinished | date:'medium' }}</td>
        <td>{{ jobSum.state }}</td>
        <td>{{ jobSum.inputBytes | filesize }}</td>
        <td>{{ jobSum.inputBytes - jobSum.outputBytes | filesize }}</td>
        <td>{{ jobSum.convertedImageCount }}</td>
        <td>{{ jobSum.deletedFileCount }}/{{ jobSum.ignoredFileCount }}/{{ jobSum.errorCount }}</td>
      </tr>
    </table>
  </mat-tab>
</mat-tab-group>

